
/* -------------------------------------------------------------------- General */

body {
    min-width: 1000px;
    font-family: Cambria, Verdana, Arial, sans-serif;
    font-size: 100%;
    background: #FFF;
    color: #000;
}

#page {
    width: 80%;
    min-width: 960px;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: #1122CC;
    text-decoration: underline;
}

a:hover {
    color: #E50140;
}


/* -------------------------------------------------------------------- Toolbar */

#toolbar {
    width: 100%;
    background: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
}

#toolbar .inner {
    width: 80%;
    min-width: 960px;
    max-width: 1400px;
    margin: 0 auto;    
}

#toolbar p {
    float: left;
    padding: .4em 0 .5em 0;
}

#toolbar ul {
    float: right;
}

#toolbar li {
    float: left;
    margin: 0 0 0 1.5em;
}

#toolbar li a {
    float: left;
    padding: .4em 0 .5em 0;
}


/* -------------------------------------------------------------------- Header */

#header {
    padding: 1em;
    border-bottom: 1px solid #E5E5E5;
}

#header h1 {
    font-size: 1.2em;
}

#header h1 a {
    float: left;
    height: 43px;
    padding: 25px 0 0 80px;
    background: url(/media/images/logo.png) no-repeat 0 0;
}
















/*
#header-container {
    background: #350200 url('/media/images/header-container.jpg') repeat-x center 25px;
    margin: 0 0 13px;
    font-family: 'AvenirLTStd85Heavy', Arial, Helvetica, sans-serif;
}

#header-account {
    text-align: right;
    background-color: #350200;
    height: 25px;
    line-height: 25px;
}

#header-account a {
    color: white;
    text-transform: uppercase;
    
}

.logo img {
    vertical-align: top;
}

#header-toolbar {
    background-color: #350200;
    height: 25px;
    line-height: 25px;
}

#breadcrumbs ul {
    list-style: none;
    display: inline;
    color: white;
}
#breadcrumbs ul li {
    display: inline;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: #350200;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
    color: white;
}

#footer ul {
    list-style: none;
    display: inline;
}

#footer ul li {
    display: inline;
    padding: 0;
}

#footer a {
    color: white;
}

#footer-address {
    display: inline;
}

.links {
    display: inline;
}

.links li {
    display: inline;
}

.event-info .button {
    display: inline-block;
    text-transform: uppercase;
    background-color: #E50047;
    color: white;
}
.event-info .button:after {
    content: " »";
}

.event-item {
    position: relative;
    list-style-type: none;
    border: 5px solid #350200;
}

.event-info {
    width: 350px;
    height: 134px;
    position: absolute;
    right: 0;
    bottom: 33px;
}

.event-ticker {
    clear: left;
}

*/
