<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Sales Events{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/clearfix.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/shop.css">
    {% endblock %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    
<div id="toolbar" class="clearfix">
    <div class="inner">
        <p>Welcome, dear username. {{ user.first_name }}</p>
        <ul>
            <li><a href="#shopping-bag">Shopping Bag</a></li>
            <li><a href="#shopping-bag">My Account</a></li>
            <li><a href="{% url logout %}">Log out</a></li>
        </ul>
    </div>
</div>

<div id="page">
{% block page %}

    <div id="header" class="clearfix">
    {% block header %}
        <h1 class="clearfix"><a href="{% url home %}" title="Private Event Store">Private Event Store</a></h1>
        <form id="search-form" method="get" action="/search"><!--TODO: implement search -->
            <label for="search">Search:</label>
            <input type="search" name="q" value="">
            <input type="submit" class="button positive" title="Go" value="Go">
        </form>
    {% endblock %}
    </div>

    <div id="breadcrumbs" class="clearfix">
    {% block breadcrumbs %}{% endblock %}
    </div>

    <div id="content" class="clearfix">
    {% block content %}
        {% block events %}{% endblock %}
    {% endblock %}
    </div>

    <div id="footer" class="clearfix">
    {% block footer %}
        <img src="{{ MEDIA_URL }}images/footer_logo.png" title="Magneto" />
        <address id="footer-address">1-800-000-0000 &copy; 2011 Magneto, Inc.</address>
        <ul class="links">
            <li><a href="#store-locator">Store Locator</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <li><a href="#security-privacy">Security &amp; Privacy</a></li>
        </ul>
    {% endblock %}
    </div>
    
{% endblock %}
</div>

{% block js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.countdown.min.js"></script>
<script src="{{ MEDIA_URL }}js/shop.js"></script>
{% endblock %}

{% block extra_js %}
    {# Overwrite this block to add other JS you'll need #}
{% endblock %}
</body>
</html>
