{% extends 'base.html' %}
{% block events %}

<ul>
{% for event in open_events %}
	{% if forloop.first %}<h2>Events</h2>{% endif %}
    <li id="event-item-{{ event.id }}" class="event-item">
        <img src="{{ MEDIA_URL }}{{ event.image }}">
        <div class="event-info">
            <a class="button" href="{{ event.get_absolute_url }}">Shop Now</a>
            <div class="event-ticker" id="event-ticker-{{ event.id }}" data="{{ event.time_to_close }}"></div>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% for event in upcoming_events %}
	{% if forloop.first %}<h2>Upcoming Events</h2>{% endif %}
	<h3>{{ event.name }}</h3>
    <div class="category-info">
        <img src="{{ MEDIA_URL }}{{ event.image }}">
    </div>
{% endfor %}

{% for event in closed_events %}
	{% if forloop.first %}<h2>Closed Events</h2>{% endif %}
	<h3>{{ event.name }}</h3>
{% endfor %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function(){
    function updateTimers(){
        
    }

    function initTimers(){
        var eventTickers = $('div.event-ticker');
        if (!(eventTickers instanceof Array)){
            eventTickers = [eventTickers, ];
        }

        for (var eventIndex in eventTickers){
            var event = eventTickers[eventIndex];
            $(event).countdown({
                image: '{{ MEDIA_URL }}images/digits.png',
                startTime: $(event).attr('data'),
                timerEnd: function(){ updateTimers(); },
                format: 'hh:mm:ss'});
        }
        
//        $().each(eventTickers, function(index, event){
{#            $(event).countdown({image: '{{ MEDIA_URL }}images/digits.png', startTime: $(event).attr('data'), format: 'hh:mm:ss'});#}
//        });
    }

    initTimers();
});
</script>
{% endblock %}