{% extends 'base.html' %}

{% block events %}
    {% if open_events %}
    <ul class="events">
        {% for event in open_events %}
        <li id="event-item-{{ event.id }}" class="event-item clearfix" data="{{ event.time_to_close }}">
            <img src="{{ MEDIA_URL }}{{ event.image }}" alt="{{ event.name }}" />
            <h3>{{ event.name }}</h3>
            <div class="text">
                <p>The modern purse or handbag came about in England during the Industrial Revoluion and the increase in travel by railway. In 1841 the industrialist and confectionery entrepreneur Samuel Parkinson of butterscotch fame ordered a set of travelling cases and trunks and insisted on a travelling case or bag for his wife's particulars.</p>
                <div class="action">
                    <a href="{{ event.get_absolute_url }}">Shop now!</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if upcoming_events %}
    <h2>Upcoming Events</h2>
        {% for event in upcoming_events %}
        <h3>{{ event.name }}</h3>
        <div class="category-info">
            <img src="{{ MEDIA_URL }}{{ event.image }}">
        </div>
        {% endfor %}
    {% endif %}
    
    {% if closed_events %}
    <h2>Closed Events</h2>
    <ul>
        {% for event in closed_events %}
    	<li>{{ event.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">

// Document is ready
$(function () {
    $('.event-item').each(function () {
        var $this = $(this),
            $timer = $this.find('.action').append('<div class="timer clearfix"></div>').find('.timer'),
            secondsString = $this.attr('data'),
            seconds = Math.round( parseFloat(secondsString, 10) );
        $timer.countdown({
            until: +seconds,
            onExpiry: function () {
                alert('teapa');
            }
        });
    });
});


/*
$(function(){
    function updateTimers(){
        
    }

    function initTimers(){
        var eventTickers = $('div.event-ticker');
        if (!(eventTickers instanceof Array)){
            eventTickers = [eventTickers, ];
        }

        for (var eventIndex in eventTickers){
            var event = eventTickers[eventIndex];
            $(event).countdown({
                image: '{{ MEDIA_URL }}images/digits.png',
                startTime: $(event).attr('data'),
                timerEnd: function(){ updateTimers(); },
                format: 'hh:mm:ss'});
        }
        
//        $().each(eventTickers, function(index, event){
{#            $(event).countdown({image: '{{ MEDIA_URL }}images/digits.png', startTime: $(event).attr('data'), format: 'hh:mm:ss'});#}
//        });
    }

    initTimers();
});
*/
</script>
{% endblock %}